<div class="body-container">

    <!-- Slider -->
    <%- include("./slider.ejs") %>

        <div class="contents">
            <img class="mobile-navbtn" src="navbtn.svg" alt="">

            <section class="content-section">
                <article class="content-container">
                    <a href="#" class="thumbnail">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image">
                    </a>
                    <div class="content-bottom-section">
                        <a href="#">
                            <img src="http://unsplash.it/36/36?gravity=center" alt="" class="channel-icon">
                        </a>

                        <div class="content-details">
                            <a href="#" class="content-title">ALASTRIA</a>
                            <a href="#" class="content-channel-description">The Project was barn mid 2017</a>
                            <div class="content-metadata">
                                <i class="symbol-icon"></i>
                                <span>10 On_line</span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="content-container">
                    <a href="#" class="thumbnail">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image">
                    </a>
                    <div class="content-bottom-section">
                        <a href="#">
                            <img src="http://unsplash.it/36/36?gravity=center" alt="" class="channel-icon">
                        </a>

                        <div class="content-details">
                            <a href="#" class="content-title">ALASTRIA</a>
                            <a href="#" class="content-channel-description">The Project was barn mid 2017</a>
                            <div class="content-metadata">
                                <i class="symbol-icon"></i>
                                <span>10 On_line</span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="content-container">
                    <a href="#" class="thumbnail">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image">
                    </a>
                    <div class="content-bottom-section">
                        <a href="#">
                            <img src="http://unsplash.it/36/36?gravity=center" alt="" class="channel-icon">
                        </a>

                        <div class="content-details">
                            <a href="#" class="content-title">ALASTRIA</a>
                            <a href="#" class="content-channel-description">The Project was barn mid 2017</a>
                            <div class="content-metadata">
                                <i class="symbol-icon"></i>
                                <span>10 On_line</span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="content-container">
                    <a href="#" class="thumbnail">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image">
                    </a>
                    <div class="content-bottom-section">
                        <a href="#">
                            <img src="http://unsplash.it/36/36?gravity=center" alt="" class="channel-icon">
                        </a>

                        <div class="content-details">
                            <a href="#" class="content-title">ALASTRIA</a>
                            <a href="#" class="content-channel-description">The Project was barn mid 2017</a>
                            <div class="content-metadata">
                                <i class="symbol-icon"></i>
                                <span>10 On_line</span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="content-container">
                    <a href="#" class="thumbnail">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image">
                    </a>
                    <div class="content-bottom-section">
                        <a href="#">
                            <img src="http://unsplash.it/36/36?gravity=center" alt="" class="channel-icon">
                        </a>

                        <div class="content-details">
                            <a href="#" class="content-title">ALASTRIA</a>
                            <a href="#" class="content-channel-description">The Project was barn mid 2017</a>
                            <div class="content-metadata">
                                <i class="symbol-icon"></i>
                                <span>10 On_line</span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="content-container">
                    <a href="#" class="thumbnail">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image">
                    </a>
                    <div class="content-bottom-section">
                        <a href="#">
                            <img src="http://unsplash.it/36/36?gravity=center" alt="" class="channel-icon">
                        </a>

                        <div class="content-details">
                            <a href="#" class="content-title">ALASTRIA</a>
                            <a href="#" class="content-channel-description">The Project was barn mid 2017</a>
                            <div class="content-metadata">
                                <i class="symbol-icon"></i>
                                <span>10 On_line</span>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <section class="content-section">
                <article class="content-container">
                    <a href="#" class="thumbnail">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image">
                    </a>
                    <div class="content-bottom-section">
                        <a href="#">
                            <img src="http://unsplash.it/36/36?gravity=center" alt="" class="channel-icon">
                        </a>

                        <div class="content-details">
                            <a href="#" class="content-title">ALASTRIA</a>
                            <a href="#" class="content-channel-description">The Project was barn mid 2017</a>
                            <div class="content-metadata">
                                <i class="symbol-icon"></i>
                                <span>10 On_line</span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="content-container">
                    <a href="#" class="thumbnail">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image">
                    </a>
                    <div class="content-bottom-section">
                        <a href="#">
                            <img src="http://unsplash.it/36/36?gravity=center" alt="" class="channel-icon">
                        </a>

                        <div class="content-details">
                            <a href="#" class="content-title">ALASTRIA</a>
                            <a href="#" class="content-channel-description">The Project was barn mid 2017</a>
                            <div class="content-metadata">
                                <i class="symbol-icon"></i>
                                <span>10 On_line</span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="content-container">
                    <a href="#" class="thumbnail">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image">
                    </a>
                    <div class="content-bottom-section">
                        <a href="#">
                            <img src="http://unsplash.it/36/36?gravity=center" alt="" class="channel-icon">
                        </a>

                        <div class="content-details">
                            <a href="#" class="content-title">ALASTRIA</a>
                            <a href="#" class="content-channel-description">The Project was barn mid 2017</a>
                            <div class="content-metadata">
                                <i class="symbol-icon"></i>
                                <span>10 On_line</span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="content-container">
                    <a href="#" class="thumbnail">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image">
                    </a>
                    <div class="content-bottom-section">
                        <a href="#">
                            <img src="http://unsplash.it/36/36?gravity=center" alt="" class="channel-icon">
                        </a>

                        <div class="content-details">
                            <a href="#" class="content-title">ALASTRIA</a>
                            <a href="#" class="content-channel-description">The Project was barn mid 2017</a>
                            <div class="content-metadata">
                                <i class="symbol-icon"></i>
                                <span>10 On_line</span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="content-container">
                    <a href="#" class="thumbnail">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image">
                    </a>
                    <div class="content-bottom-section">
                        <a href="#">
                            <img src="http://unsplash.it/36/36?gravity=center" alt="" class="channel-icon">
                        </a>

                        <div class="content-details">
                            <a href="#" class="content-title">ALASTRIA</a>
                            <a href="#" class="content-channel-description">The Project was barn mid 2017</a>
                            <div class="content-metadata">
                                <i class="symbol-icon"></i>
                                <span>10 On_line</span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="content-container">
                    <a href="#" class="thumbnail">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="thumbnail-image">
                    </a>
                    <div class="content-bottom-section">
                        <a href="#">
                            <img src="http://unsplash.it/36/36?gravity=center" alt="" class="channel-icon">
                        </a>

                        <div class="content-details">
                            <a href="#" class="content-title">ALASTRIA</a>
                            <a href="#" class="content-channel-description">The Project was barn mid 2017</a>
                            <div class="content-metadata">
                                <i class="symbol-icon"></i>
                                <span>10 On_line</span>
                            </div>
                        </div>
                    </div>
                </article>

            </section>
        </div>

</div>