<div class="body-container">

    <!-- Slider -->
    <%- include("./slider.ejs") %>

        <div class="contents">
            <img class="mobile-navbtn" src="mainpage/navbtn.svg" alt="" data-toggle="modal"
                data-target="#channelPublicCreate">

            <section class="content-section partner-channel-container">
            </section>

            <section class="content-section channel-box-container">
            </section>
        </div>

</div>