<div class="box-options">
    <div id="channel-create" class="channel-options" data-toggle="modal" data-target="#channelCreate">
        <p><span>Room Create</span></p>
    </div>

    <div id="channel-join" class="channel-options" data-toggle="modal" data-target="#channelJoin">
        <p><span>Room Join</span></p>
    </div>
</div>

<div class="box-conatiner">
    <div class="channel-box"></div>
    <div class="channel-box"></div>
    <div class="channel-box"></div>
    <div class="channel-box"></div>
    <div class="channel-box"></div>
    <div class="channel-box"></div>
    <div class="channel-box"></div>
    <div class="channel-box"></div>
    <div class="channel-box"></div>
    <div class="channel-box"></div>
    <div class="channel-box"></div>
    <div class="channel-box"></div>
    <div class="channel-box"></div>
    <div class="channel-box"></div>
</div>