<div class="left-container">

    <div class="options-logo">
        <img class="options-img-logo" src="mainpage/logo.png" alt="">
    </div>

    <div class="options-button">
        <img class="options-img-navbtn" src="mainpage/navbtn.svg" alt="">
    </div>

</div>