<div class="left_navbar">
    <div id="outdoor" class="options-nav">
        Outdoor
    </div>
    <div id="book" class="options-nav">
        Book
    </div>
    <div id="coummunity" class="options-nav">
        Coummunity
    </div>
    <div id="sports" class="options-nav">
        Sports
    </div>
    <div id="game" class="options-nav">
        Game
    </div>
    <div id="volunteer" class="options-nav">
        Volunteer
    </div>
    <div id="ternary" class="options-nav">
        Ternary
    </div>
    <div id="language" class="options-nav">
        Language
    </div>
    <div id="task" class="options-nav">
        Task
    </div>
    <div id="education" class="options-nav">
        Education
    </div>
</div>