<div class="left-container">
    <div class="options-logo">
        <img class="options-img-logo" src="mainpage/logo.png" alt="" onclick="location.href='/'">
    </div>

    <div class="options-navbar">
        <li class="options-navbar-list">
            <span class="load-channel" onclick="javascript:location.href('/')">Channel</span>
            <span class="load-map" onclick="initBody()">How's Going</span>
        </li>
    </div>

    <div class="options-button">
        <img class="options-img-navbtn" src="mainpage/navbtn.svg" alt="" data-toggle="modal"
            data-target="#channelPublicCreate">
    </div>
</div>