<select class="search-select" id="channel-option" name="CHANNEL">
    <option class="search-option" value="allChannel">ALL CHANNEL</option>
    <option class="search-option" value="partnerChannel">PARTNER CHANNEL</option>
    <option class="search-option" value="channel">CHANNEL</option>
</select>