<section class="web-slider">
    <img class="slider-logo" src="mainpage/logo_w.svg" alt="">
    <%- include("selectChannel.ejs") %>
</section>
<section class="mobile-slider">

    <img class="mobile-slider-logo" src="mainpage/logo_w.svg" alt="">
    <%- include("selectChannel.ejs") %>
</section>