<div class="business-course-container">
    <div class="business-title-container">
        <p class="business-title">
            Partner Channel
        </p>
        <div class="business-right-subnav">
            <div class="partner-button" id="channelJoinBtn" data-toggle="modal" data-target="#channelJoinModal">
                <img src="join.svg" alt="Channel Join">
                <span>Join</span>
            </div>
            <div class="partner-button" id="channelPublicBtn" data-toggle="modal" data-target="#channelPublicCreate">
                <img src="public.svg" alt="Channel Public">
                <span>Public</span>
            </div>
            <!-- <div class="partner-button" id="channelPrivateBtn" data-toggle="modal" data-target="#channelPrivateCreate">
                <img src="private.svg" alt="Channel Private">
                <span>Private</span>
            </div> -->
        </div>
    </div>
    <div class="business-box-container">
    </div>
</div>