<div class="business-course-container">
    <div class="business-title-container">
        <p class="business-title">
            Partner Channel
        </p>
        <div class="business-right-subnav">
            <button class="business-button" type="button" data-toggle="modal" data-target="#channelPublicCreate">Create
                a Public Channel</button>
            <button class="business-button" type="button" data-toggle="modal" data-target="#channelPrivateCreate">Create
                a Private Channel</button>
            <button class="business-button" type="button" data-toggle="modal" data-target="#channelJoin">Join
                a Channel</button>
        </div>
    </div>
    <div class="business-box-container">
    </div>
</div>