<div class="business-course-container">
    <div class="business-title-container">
        <p class="business-title">
            Business Course
        </p>
        <div class="business-right-subnav">
            <button class="business-button" type="button" data-toggle="modal" data-target="#channelPublicCreate">Create
                Public Channel</button>
            <button class="business-button" type="button" data-toggle="modal" data-target="#channelPrivateCreate">Create
                Private Channel</button>
            <button class="business-button" type="button" data-toggle="modal" data-target="#channelJoin">Join
                Channel</button>
        </div>
    </div>
    <div class="business-box-container">
        <div class="business-box">
            <div class="business-box-wrapper">
                <img src="KronWorld.png" alt="Kronworld">
                <div class="business-box-text">
                    <div class="business-box-title">
                        <p><span>Kronosa</span></p>
                    </div>
                    <div class="business-box-description">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries, but
                            also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It
                            was popularised in the 1960s with the release of Letraset sheets
                            containing
                            Lorem Ipsum passages, and more recently with desktop publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="business-box-footer">
                        <div class="business-name">
                            <p><span>Kronosa</span></p>
                        </div>
                        <div class="business-users">
                            <p><span>20 / Users</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="business-box">
            <div class="business-box-wrapper">
                <img src="KronWorld.png" alt="Kronworld">
                <div class="business-box-text">
                    <div class="business-box-title">
                        <p><span>Cat</span></p>
                    </div>
                    <div class="business-box-description">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries, but
                            also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It
                            was popularised in the 1960s with the release of Letraset sheets
                            containing
                            Lorem Ipsum passages, and more recently with desktop publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="business-box-footer">
                        <div class="business-name">
                            <p><span>Kronosa</span></p>
                        </div>
                        <div class="business-users">
                            <p><span>20 / Users</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="business-box">
            <div class="business-box-wrapper">
                <img src="KronWorld.png" alt="Kronworld">
                <div class="business-box-text">
                    <div class="business-box-title">
                        <p><span>Cat</span></p>
                    </div>
                    <div class="business-box-description">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries, but
                            also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It
                            was popularised in the 1960s with the release of Letraset sheets
                            containing
                            Lorem Ipsum passages, and more recently with desktop publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="business-box-footer">
                        <div class="business-name">
                            <p><span>Kronosa</span></p>
                        </div>
                        <div class="business-users">
                            <p><span>20 / Users</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="business-box">
            <div class="business-box-wrapper">
                <img src="KronWorld.png" alt="Kronworld">
                <div class="business-box-text">
                    <div class="business-box-title">
                        <p><span>Cat</span></p>
                    </div>
                    <div class="business-box-description">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries, but
                            also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It
                            was popularised in the 1960s with the release of Letraset sheets
                            containing
                            Lorem Ipsum passages, and more recently with desktop publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="business-box-footer">
                        <div class="business-name">
                            <p><span>Kronosa</span></p>
                        </div>
                        <div class="business-users">
                            <p><span>20 / Users</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="business-box">
            <div class="business-box-wrapper">
                <div class="business-box-text">
                    <div class="business-box-title">
                        <p><span>Cat</span></p>
                    </div>
                    <div class="business-box-description">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries, but
                            also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It
                            was popularised in the 1960s with the release of Letraset sheets
                            containing
                            Lorem Ipsum passages, and more recently with desktop publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="business-box-footer">
                        <div class="business-name">
                            <p><span>Kronosa</span></p>
                        </div>
                        <div class="business-users">
                            <p><span>20 / Users</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>