<div class="business-course-container">
    <div class="business-title-container">
        <p class="business-title">
            Kronosa Channel
        </p>
        <div class="business-right-subnav">
            <button class="business-button" type="button" data-toggle="modal" data-target="#channelPublicCreate">Create
                Public Channel</button>
            <button class="business-button" type="button" data-toggle="modal" data-target="#channelPrivateCreate">Create
                Private Channel</button>
            <button class="business-button" type="button" data-toggle="modal" data-target="#channelJoin">Join
                Channel</button>
        </div>
    </div>
    <div class="business-box-container">
    </div>
</div>