<div class="channel-course-container">
    <div class="channel-title-container">
        <p class="channel-title">
            Channel
        </p>
    </div>
    <div class="channel-box-container">
        <div class="channel-box">
            <div class="channel-box-wrapper">
                <div class="channel-menu">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                            id="channelDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            data-reference="parent">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="channelDropDownMenu">
                            <a class="dropdown-item" href="#">Update Channel</a>
                            <a class="dropdown-item" href="#">Remove Channel</a>
                        </div>
                    </div>
                </div>
                <div class="channel-box-title">
                </div>
                <div class="channel-box-description">
                </div>
                <div class="channel-box-footer">
                    <div class="channel-box-footer-icon">
                        <img src="./img/lock.svg" alt="" class="lock-icon">
                    </div>
                    <div class="channel-box-footer-users">
                        <p><span>20 / Users</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>