<div class="channel-course-container">
    <div class="channel-title-container">
        <p class="channel-title">
            Channel
        </p>
    </div>
    <div class="channel-box-container">
    </div>
</div>