<div class="menu-dropdown">
    <div class="col">
        <div class="con">
            <div class="bar top"></div>
            <div class="bar middle"></div>
            <div class="bar bottom"></div>
        </div>
    </div>
    <div class="menu-content hidden">
        <ul>
            <a class="login" id="room__in" data-toggle="modal" data-target="#newUserModal">
                <li>Login</li>
            </a>
            <a class="fileshare" data-toggle="modal" data-target="#fileshareModal">
                <li>FileShare</li>
            </a>
            <a class="deviceSetting" id="deviceSettingBtn" data-toggle="modal" data-target="#deviceSettingModal">
                <li>Device Settings</li>
            </a>
        </ul>
    </div>
</div>