<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tag -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Owake Me, 내가 원하는 곳 어디에서나 시간을 초월한 세계로 나를 연결하는 거대한 네트워크!" />
    <meta name="description"
        content="Owake.Me, A huge network connecting me into the timeless world wherever I want. 
    Kron World, You govern your world, Proof of Moment, Proof of World Login, Time, Timeless in Metaverse Environment, Kron Economy" />
    <meta name="robots" />

    <meta name="google" content="notranslate" />
    <!-- meta tag end -->

    <!-- favicon package -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- favicon End -->

    <link rel="stylesheet" href="style.css">

    <script src="owake_rtc_n.js"></script>
    <script src="owake_rtm.js"></script>

    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="jquery-3.4.1.min.js"></script>

    <!-- Bootstrap -->
    <script src="bootstrap.bundle.min.js"></script>
    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    <title>Owake</title>

    <%- include("./fileshare") %>
        <%- include("./newuser") %>
            <%- include("./deviceSettings") %>
</head>

<body>
    <div class="header">
        <div class="logo">
            <img class="img__logo" src="logo.svg" alt="">
        </div>
        <div class="nav__container">
            <!-- <div class="fileshare" data-toggle="modal" data-target="#fileshareModal">
                <i class="far fa-file"></i>
                <span>File Share</span>
            </div>
            <div class="deviceSetting" id="deviceSettingBtn" data-toggle="modal" data-target="#deviceSettingModal">
                <i class="fas fa-cog"></i>
                <span>Device Setting</span>
            </div> -->

            <div class="options__button" id="fileshareBtn" data-toggle="modal" data-target="#fileshareModal">
                <i class="far fa-folder-open"></i>
                <span>File</span>
            </div>
            <div class="options__button" id="deviceSettingBtn" data-toggle="modal" data-target="#deviceSettingModal">
                <i class="fas fa-cog"></i>
                <span>Device</span>
            </div>
            <div id="loginBtn" class="options__button" data-toggle="modal" data-target="#newUserModal">
                <i class="fas fa-sign-in-alt"></i>
                <span>Login</span>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main__left">
            <div class="videos__group">
                <div id="video-grid">
                    <div id="local__video__container">
                        <p id="local-player-name" class="player-name"></p>
                    </div>
                    <div id="remote__video__container">
                        <div id="remote-playerlist"></div>
                    </div>
                </div>
            </div>
            <div class="options">
                <div class="options__left">
                    <div id="muteVideo" class="options__button">
                        <i id="videoIcon" class="fas fa-video"></i>
                        <span>Cam</span>
                    </div>
                    <div id="muteAudio" class="options__button">
                        <i id="audioIcon" class="fa fa-microphone"></i>
                        <span>Mic</span>
                    </div>
                    <div id="showChat" class="options__button">
                        <i class="fa fa-comment"></i>
                        <span>Chat</span>
                    </div>
                    <div id="shareScreen" class="options__button">
                        <i class="fas fa-share-square"></i>
                        <span>Screen</span>
                    </div>
                    <div id="momentShare" class="options__button">
                        <i class="fas fa-brain"></i>
                        <span>Web</span>
                    </div>
                </div>
                <!-- <div id="speechRecognition" class="options__button">
                    <i class="fas fa-headset"></i>
                </div> -->
                <!-- <div class="options__right">
                    <div id="room__in" class="options__button" data-toggle="modal" data-target="#newUserModal">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Login</span>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="main__right">
            <div class="main__header">
                <!-- <div class="header__back">
                    <i class="fas fa-angle-left"></i>
                </div> -->
            </div>
            <div class="main__chat_window">
                <div class="messages" id="messages"></div>
            </div>
            <div class="main__message_container">
                <input id="chat_message" type="text" autocomplete="off" placeholder="Type message here..."
                    maxlength="100">
                <div id="send" class="options__button">
                    <i class="fas fa-paper-plane" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="f12defense.js"></script> -->
    <script src="rtcClient.js"></script>
    <script src="rtmClient.js" type="module"></script>

    <script src="recodingDeviceCtrl.js"></script>
    <script src="momentShare.js"></script>
    <script src="screenShare.js"></script>
    <script src="fileShare.js"></script>
    <script src="muteUtils.js"></script>
    <script src="copyUrl.js"></script>
    <script src="chat.js"></script>
    <script>

        let dropDown = function () {
            $('.menu-dropdown').on('click', function () {
                $('.menu-content').toggleClass('hidden');
                $('.con, .menu-dropdown').toggleClass('menu-active');

                setTimeout(function () {
                    $('.menu-content').toggleClass('opacity')
                }, 300)

            })
        }

        dropDown();

    </script>
</body>

</html>