@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import "./lib/bootstrap.min.css";
@import "./channel/momentShare.css";
@import "./channel/chat.css";
@import "./channel/remoteDisplay.css";
@import "./channel/optionsBtn.css";

:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #eeeeee;
  --button-color-Cobalt-Blue: #3b5682;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  height: 8vh;
  position: relative;
  width: 100%;
  background-color: var(--main-darklg);
}
.logo {
  width: 150px;
  margin: 10px;
  margin-left: 20px;
  align-items: center;
  display: flex;
}

.nav__container {
  color: #fff;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.fileShare__container {
  display: flex;
  padding: 10px;
  border: 3px solid grey;
}

.fileshare {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.fileshare span {
  font-size: small;
}

#sendBtn {
  border: 1px solid #000;
  border-radius: 25px;
}

#receiveBtn {
  border: 1px solid #000;
  border-radius: 25px;
}

.deviceSetting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.deviceSetting span {
  font-size: small;
}

.fa-file {
  font-size: xx-large;
  margin: 0 auto;
  cursor: pointer;
}

.fa-file:hover {
  color: skyblue;
}

.logo > h3 {
  color: var(--main-light);
}

.img__logo {
  width: 80%;
}

.main {
  overflow: hidden;
  height: 92vh;
  display: flex;
}

.main__left {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}

.videos__group {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-dark);
  overflow: auto;
}

.options {
  padding: 1rem;
  display: flex;
  background-color: var(--main-darklg);
  justify-content: center;
}

.options__left {
  display: flex;
}

.options__right {
  margin-left: auto;
}

.options__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--button-color-Cobalt-Blue); */
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
  cursor: pointer;
}

.options__button span {
  font-size: small;
}

.background__red {
  background-color: #f6484a;
}

.userName {
  color: #fff;
  font-size: 15px;
  font-weight: 1100;
}

#video-grid {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  position: relative;
  width: 100%;
  height: 100%;
}

#local__video__container {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* flex: 0.75; */
  flex: 1;
}

#local__video__container > div {
  overflow: none !important;
  background-color: none !important;
}

#local__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#local__videoBox {
  position: relative;
  width: 100%;
  height: 100%;
}

#local__videoBox > div {
  border: 2px solid #fff;
  border-radius: 20px;
}

.player-name {
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 2px black;
  color: #fff;
  font-weight: 700;
  margin: 15px;
  position: absolute;
  z-index: 1;
}

#remote__video__container {
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  align-items: center;
  overflow: auto;
  /* flex: 0.25; */
  height: 100%;
}
#remote__video__container::-webkit-scrollbar {
  display: none;
}

#remote__videoBox {
  position: relative;
  width: 230px;
  height: 230px;
  margin: 8px;
}

#remote-playerlist {
  position: relative;
  margin: 8px;
}

#remote-playerlist > div {
  margin-bottom: 8px;
}

#remote-playerlist > div {
  border: 2px solid #fff;
  border-radius: 20px;
  width: 230px;
  height: 230px;
}

.player {
  width: 100%;
  height: 100%;
}

.player > div {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#remote__videoBox > div {
  border: 2px solid #fff;
  border-radius: 20px;
}

video {
  animation: show 0.4s ease;
}

video:hover {
  cursor: pointer;
  border: 1px solid #f6484a;
}

.colorBox {
  border: 1px solid #000;
}

.main__header > .header__back > h2 {
  text-align: center;
  color: #fff;
  margin: 10px;
}

.header__back {
  display: none;
  position: relative;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main__right {
    display: none;
  }
  .main__left {
    width: 100%;
    flex: 1;
  }

  #local__video__container {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  #local__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  #remote__video__container {
    display: -webkit-box;
    overflow-x: auto;
    margin-left: 50px;
  }

  #remote-playerlist {
    display: flex;
  }

  #remote-playerlist > div {
    width: 130px;
    height: 130px;
    margin-right: 6px;
    margin-bottom: none;
  }

  .player-name {
    margin: 8px;
  }

  video {
    /* height: 100px;
        border-radius: 1rem;
        margin: 0.5rem;
        object-fit: cover; */
    /*
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        */
    animation: show 0.4s ease;
  }

  #remote__videoBox {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 8px;
  }

  #remote__videoBox > div {
    border: 2px solid #fff;
    border-radius: 20px;
  }

  #shareScreen {
    display: none;
  }
  #speechRecognition {
    display: none;
  }
}

/* Animation */
@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
