#momentShare-iframe {
  border : none;
}

#momentShareArea {
  display: flex;
  flex-direction: column;
}

#momentShare-iframe {
  width: 100%;
  height: 100%;
}

#momentShareArea {
  flex: 0.8;
  margin: 1.5rem;
  height: 100%;
  background: #fff;
}

#iFrameContainer {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #000;
}

#searchInput {
  margin: 5px;
  border: 2px solid;
  border-radius: 20px;
}

#searchInputBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}