#momentShareArea {
    display : flex;
    flex-direction: column;
}

#momentShare-iframe {
    flex : 0.9;
    width : 100%;
    height : 100%;
}

#searchInputCtr {
    flex : 0.1;
    margin-bottom: 5px;
}

#searchInput {
    float: right;
    margin: 5px;
    border: 2px solid;
    border-radius: 20px;
}