.owake-btn {
    display : none;
}

@media (max-width: 768px) {

    .owake-btn {
        display : block;
        padding : 1rem;
        width: 67px;
        height: 67px;
        z-index: 20;
        position: absolute;
        right: 0;
        bottom: 0;
        cursor : pointer;
    }

    .options {
        z-index: 20;
        bottom: 70px;
    }

}