.box-conatiner {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-category {
    display : flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin : 20px;
    overflow-x: auto;
}

.channel-category {
    width : 100px;
    height : 100px;
    border : 1px solid #000;
    margin : 0.5rem;
    border-radius: 25px;
}

.channel-box {
    border : 1px solid #000;
    margin : 3rem;
    border-radius: 35px;
    width : 250px;
    height : 250px;
}

.channel-options {
    width : 150px;
    height : 50px;
    border: 1px solid #000;
    margin-right : 10px;
    text-align: center;
    cursor : pointer;
}

.box-options {
    display : flex;
    flex-direction: row-reverse;
}

.round-navbar {
    position: fixed;
    right: 0;
    bottom : 0;
    margin : 10px;
    cursor : pointer;
}

.round-navbar > img {
    width : 50px;
    height : 50px;
}

.toggle-navbar {
    position: fixed;
    right : 0;
    bottom : 60px;
    margin : 10px;
}

.options-main-btn {
    position: relative;
    width : 45px;
    height : 45px;
    margin-bottom: 5px;
    cursor : pointer;
}

.options-main-btn > img {
    width: 100%;
    height: 100%;
}