.feed-container {
    position: relative;
    flex: 0.3;
    border: 2px solid #000;
}

.feed-box {
    padding : 10px;
    margin : 10px;
}

.feed-category {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.feed-category-box {
    width : 50px;
    height : 50px;
    border : 2px solid #000;
}