.options-navbar {
    position: fixed;
    top: 10rem;
}

.options-navbar > li {
    list-style: none;
}

.options-navbar > li > span {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}

.options-navbar-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.options-navbar-list > * {
    margin-bottom: 0.3rem;
}
