<section class="default__options main__options options__left swiper-slide">
    <div id="muteVideo" class="options__button">
        <span class="options__number">1</span>
        <i id="videoIcon" class="fas fa-video"></i>
    </div>
    <div id="muteAudio" class="options__button">
        <span class="options__number">2</span>
        <i id="audioIcon" class="fa fa-microphone"></i>
    </div>

    <div id="users" class="options__button">
        <span class="options__number">3</span>
        <i class="fas fa-users"></i>
    </div>

    <div class="options__button" id="fileDeliveryBtn">
        <span class="options__number">4</span>
        <!-- <i class="far fa-folder-open"></i> -->
        <img id="fileDelivery-img" class="optionsBtnImg" src="/left/file.svg"></img>
        <!-- <span>File</span> -->
    </div>

    <div class="options__button" id="fileHashBtn">
        <span class="options__number">5</span>
        <img id="fileHash-img" class="optionsBtnImg" src="/left/hash.svg"></img>
    </div>

    <div id="shareScreen" class="options__button">
        <span class="options__number">6</span>
        <!-- <i class="fas fa-retweet"></i> -->
        <img id="screenShare-img" class="optionsBtnImg" src="/left/screen.svg"></img>
    </div>

    <div id="momentShare1" class="options__button">
        <span class="options__number">7</span>
        <img id="web-img" class="optionsBtnImg" src="/left/web.svg"></img>
    </div>

    <div class="nav__right options__button">
        <i class="fas fa-chevron-right"></i>
    </div>
</section>

<section class="default__options sub__options options__left swiper-slide">
    <div class="nav__left options__button">
        <i class="fas fa-chevron-left"></i>
    </div>
    <div id="contentShare" class="options__button">
        <span class="options__number">8</span>
        <!-- <i class="fas fa-exchange-alt"></i> -->
        <img id="media-img" class="optionsBtnImg" src="/right/media.svg"></img>
        <!-- <span>contents</span> -->
    </div>
    <div id="pdfShare" class="options__button">
        <span class="options__number">9</span>
        <!-- <i class="fas fa-file-pdf"></i> -->
        <img id="pdf-img" class="optionsBtnImg" src="/right/pdf.svg"></img>
    </div>
    <div id="whiteBoard" class="options__button">
        <span class="options__number">10</span>
        <!-- <i class="fas fa-chalkboard-teacher"></i> -->
        <img id="board-img" class="optionsBtnImg" src="/right/whiteboard.svg"></img>
    </div>

    <div id="showChat" class="options__button">
        <span class="options__number">11</span>
        <!-- <i class="fa fa-comment"></i> -->
        <img id="chat-img" class="optionsBtnImg" src="/right/chat.svg"></img>
    </div>

    <div id="copyUrl" class="options__button">
        <span class="options__number">12</span>
        <!-- <i class="fa-solid fa-share-nodes"></i> -->
        <img id="copyUrl-img" class="optionsBtnImg" src="/right/copyUrl.svg"></img>
    </div>

    <div id="audioMixBtn" class="options__button" data-toggle="modal" data-target="#audioMixModal">
        <span class="options__number">13</span>
        <i class="fa-solid fa-music"></i>
    </div>

    <div id="speechTranslateBtn" class="options__button">
        <span class="options__number">14</span>
        <i class="fa-solid fa-language"></i>
    </div>

    <div class="options__button" id="deviceSettingBtn" data-toggle="modal" data-target="#deviceSettingModal">
        <span class="options__number">15</span>
        <img id="setting-img" class="optionsBtnImg deviceSettingBtn" src="/right/setting.svg"></img>
    </div>
</section>