<script>(function (e, t, n) { var r = e.querySelectorAll("html")[0]; r.className = r.className.replace(/(^|s)no-js(s|$)/, "$1js$2") })(document, window, 0);</script>

<div class="modal fade" id="channelUpdateModal" tabindex="-1" aria-labelledby="updateChannelModalLabel"
    aria-hidden="true">
    <div class="modal-dialog content-dialog" role="document">
        <div class="content-container modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h3 class="channel-content-title mb-0">Update a Channel</h2>
                    <button type="button" class="btn-close btn-close-white" data-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="channel-type-options-container p-5 pt-0 pb-3">
                <div class="channel-options-container">
                    <label class="content-label h5" for="check-igovern">I govern</label>
                    <input class="form-check-input" id="check-update-igovern" type="checkbox"
                        name="channelUpdateGovernType" value="I" checked="true">
                    <i class="fa-solid fa-circle-question" id="i_govern_help"></i>
                </div>

                <div class="channel-options-container">
                    <label class="content-label h5" for="check-wegovern">We govern</label>
                    <input class="form-check-input" id="check-update-wegovern" type="checkbox"
                        name="channelUpdateGovernType" value="WE">
                    <i class="fa-solid fa-circle-question" id="we_govern_help"></i>
                </div>
            </div>

            <section class="modal-body p-5 pt-0 pb-0 content-body-container">
                <!-- Channel Options / Setting -->
                <div class="channel-info-container pb-4">
                    <div class="channel-info channel-name">
                        <label for="">Channel Name</label>
                        <input type="text" id="update_channelName" disabled="true">
                    </div>

                    <div class="channel-info channel-thumbnail-container">
                        <label for=""></label>
                        <!-- Channel Thumbnail -->
                        <div class="channel-thumbnail">
                            <input type="file" name="file" id="update_file_thumnail" class="public-inputfile"
                                hidden="true" />
                            <label for="update_file_thumnail">
                                <i class="fa-solid fa-image"></i>
                                <span id="update_upload">Attach a channel image</span>
                            </label>
                        </div>
                    </div>

                    <div class="channel-info channel-password">
                        <label for="">Password</label>

                        <div class="channel-info channel-password-checkbox">
                            <label for="">Yes</label>
                            <input type="radio" id="password_use_yes" name="update_password" class="form-check-input"
                                value="Y">
                            <label for="">No</label>
                            <input type="radio" id="password_use_no" name="update_password" class="form-check-input"
                                value="N" checked>
                        </div>
                    </div>

                    <div class="channel-info channel-password-input">
                        <input type="password" placeholder="Password" id="update_channelPassword">
                        <input type="password" placeholder="Confirm" id="update_channelPassword_confirm">
                    </div>

                    <div class="channel-info admin-id">
                        <label for="">Governor ID</label>
                        <input type="text" id="update_adminId">
                    </div>

                    <div class="channel-info admin-password">
                        <label class="update-admin-label" for="">Governor Password</label>
                        <div class="password-container update-password">
                            <input type="password" id="update_adminPassword" placeholder="Enter the Password">
                            <input type="password" id="update_adminPassword_confirm" placeholder="Confirm">
                        </div>
                    </div>

                    <div class="channel-info channel-description">
                        <label for="">Description</label>
                        <textarea id="update_channel-description" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </section>

            <section class="p-5 pt-0 pb-3 content-options-check-container">
                <div class="left-options">
                    <div class="cam-check check-option">

                        <div class="check-img">
                            <img src="svg/cam.svg" alt="Cam">
                            <label class="font" for="">Camera</label>
                        </div>

                        <div class="cam-checkbox check-option">
                            <input class="form-check-input" id="cam-check" type="checkbox" checked="true"
                                disabled="true">
                        </div>
                    </div>

                    <div class="mic-check check-option">
                        <div class="check-img">
                            <img src="svg/mic.svg" alt="Mic">
                            <label class="font">Microphone</label>
                        </div>
                        <div class="mic-checkbox check-option">
                            <input class="form-check-input" id="mic-check" type="checkbox" checked="true"
                                disabled="true">
                        </div>
                    </div>

                    <div class="file-check check-option">
                        <div class="check-img">
                            <img src="svg/file.svg" alt="File">
                            <label class="font">File Sharing</label>
                        </div>

                        <div class="file-checkbox check-option">
                            <input class="form-check-input" id="file-check" type="checkbox" checked="true"
                                disabled="true">
                        </div>
                    </div>

                    <div class="verifi-check check-option">
                        <div class="check-img">
                            <img src="svg/identifire.svg" alt="Verification">
                            <label class="font">Verification</label>
                        </div>

                        <div class="verifi-checkbox check-option">
                            <input class="form-check-input" id="verifi-check" type="checkbox" checked="true"
                                disabled="true">
                        </div>
                    </div>

                    <div class="screen-check check-option">

                        <div class="check-img">
                            <img src="svg/screen.svg" alt="Screen Share">
                            <label class="font">Screen sharing</label>
                        </div>

                        <div class="screen-checkbox check-option">
                            <input class="form-check-input" id="screen-check" type="checkbox" checked="true"
                                disabled="true">
                        </div>
                    </div>
                </div>

                <div class="right-options">
                    <div class="web-check check-option">

                        <div class="check-img">
                            <img src="svg/web.svg" alt="Web Share">
                            <label class="font">Web Sharing</label>
                        </div>

                        <div class="web-checkbox check-option">
                            <input class="form-check-input" type="checkbox" checked="true" disabled="true">
                        </div>

                    </div>

                    <div class="contents-check check-option">
                        <div class="check-img">
                            <img src="svg/media.svg" alt="Contents Share">
                            <label class="font">Contents sharing</label>
                        </div>

                        <div class="contents-checkbox check-option">
                            <input class="form-check-input" type="checkbox" checked="true" disabled="true">
                        </div>

                    </div>

                    <div class="pdf-check check-option">
                        <div class="check-img">
                            <img src="svg/pdf.svg" alt="PDF Share">
                            <label class="font">PDF sharing</label>
                        </div>

                        <div class="pdf-checkbox check-option">
                            <input class="form-check-input" type="checkbox" checked="true" disabled="true">
                        </div>

                    </div>

                    <div class="white-check check-option">
                        <div class="check-img">
                            <img src="svg/whiteboard.svg" alt="White Board">
                            <label class="font">White board</label>
                        </div>

                        <div class="white-checkbox check-option">
                            <input class="form-check-input" type="checkbox" checked="true" disabled="true">
                        </div>
                    </div>

                    <div class="chat-check check-option">
                        <div class="check-img">
                            <img src="svg/chat.svg" alt="Chat">
                            <label class="font">Chat</label>
                        </div>

                        <div class="chat-checkbox check-option">
                            <input class="form-check-input" type="checkbox" checked="true" disabled="true">
                        </div>

                    </div>
                </div>
            </section>

            <section class="p-5 pt-0 pb-3 content-footer-container">
                <div class="govern-logo-container">
                    <img src="/mainpage/govern(w).svg" alt="">
                </div>
                <div class="create-channel-btn-container">
                    <button id="updateBtn" class="btn">Update</button>
                </div>
            </section>
        </div>
    </div>
</div>