<div class="modal fade" id="channelPublicCreate" tabindex="-1" aria-labelledby="publicChannelModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="publicChannelModalLabel">
                    Create a Public Channel
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="channelCreate-div">
                    <div class="row admin-info-group">

                        <div class="col-sm">
                            <p class="admin-info-text">Admin ID</p>
                            <input id="public_adminId" type="text" placeholder="Enter the AdminID" required />
                        </div>
                        <div class="col-sm">
                            <p class="admin-info-text">Admin Password</p>
                            <input id="public_adminPassword" type="password" placeholder="Enter the Admin Password" />
                        </div>
                    </div>
                    <br>
                    <div class="row roomSetting-info-group">
                        <div class="col-sm">
                            <p class="channel-info-text">Channel Name</p>
                            <input id="public_channelName" type="text" placeholder="Enter the Channel Name">
                        </div>
                        <div class="col-sm">
                            <p class="channel-info-text">Channel Password</p>
                            <input id="public_channelPassword" type="password" placeholder="Enter the Channel Password">
                        </div>
                    </div>
                    <br><br>
                    <div class="row category-info-group">

                        <div class="col-sm">
                            <label for="theme-category">Category</label>

                            <select id="public_theme-category">
                                <%- include("category") %>
                            </select>
                        </div>
                    </div>

                    <input id="public_file_thumnail" type="file" />

                    <div class="row description-info-group">

                        <div class="col-sm">
                            <label for="description">Description</label>
                            <textarea style="width:100%" name="channel-description" id="public_channel-description"
                                cols="50" rows="10"></textarea>
                        </div>
                    </div>
                    <br><br>
                    <div class="button-group">
                        <button id="public_create" class="btn btn-primary btn-sm">
                            Create
                        </button>
                        <button id="public_update" class="btn btn-primary btn-sm">
                            Update
                        </button>
                        <button id="public_remove" class="btn btn-primary btn-sm">
                            Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>