<div class="modal fade" id="channelDeleteModal" tabindex="-1" aria-labelledby="channelDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content content-container">
            <div class="modal-header">
                <h5 class="modal-title content-title" id="channelDeleteModalLabel">
                    Delete Channel
                </h5>
            </div>
            <div class="modal-body">
                <div id="channelDelete-Container">
                    <input id="delete_channelType" type="hidden">
                    <div class="row admin-info-group" id="channelDeleteAdminInfo">
                        <div class="channelDelete-info">
                            <p>Governor ID</p>
                            <input id="delete_adminId" type="text" placeholder="Please enter your Governor ID" required>
                        </div>
                        <div class="channelDelete-info">
                            <p>Governor Password</p>
                            <input id="delete_adminPassword" type="password"
                                placeholder="Please enter your Governor Password" required>
                        </div>
                        <input id="delete_imageName" type="hidden">
                    </div>

                    <div class="row channel-info-group" id="channelDeleteChannelInfo">
                        <div class="channelDelete-info">
                            <p>Channel Name</p>
                            <input id="delete_channelName" type="text" placeholder="Enter Channel Name" disabled>
                        </div>
                        <div class="channelDelete-info">
                            <p>Channel Password</p>
                            <input id="delete-channelPassword" type="password" placeholder="Enter Channel Password">
                        </div>
                    </div>

                    <br><br>
                    <div class="button-group">
                        <button id="channelDelete-btn" class="btn btn-primary btn-sm">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>