<div class="modal fade" id="channelDeleteModal" tabindex="-1" aria-labelledby="channelDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="channelDeleteModalLabel">
                    Delete Channel
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="channelDelete-Container">
                    <input id="delete_channelType" type="hidden" >
                    <div class="col-sm admin-info-group" id="channelDeleteAdminInfo">
                        <div>
                            <p>Admin Name</p>
                            <input id="delete_adminId" type="text" placeholder="Enter Admin Name" required >
                        </div>
                        <div>
                            <p>Admin Password</p>
                            <input id="delete_adminPassword" type="password" placeholder="Enter Admin Password" required >
                        </div>
                    </div>

                    <div class="col-sm channel-info-group" id="channelDeleteChannelInfo">
                        <div>
                            <p>Channel Name</p>
                            <input id="delete_channelName" type="text" placeholder="Enter Channel Name" disabled >
                        </div>
                        <div>
                            <p>Channel Password</p>
                            <input id="delete-channelPassword" type="password" placeholder="Enter Channel Password" >
                        </div>
                    </div>

                    <br><br>
                    <div class="button-group">
                        <button id="channelDelete-btn" class="btn btn-primary btn-sm">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>