<div class="modal fade" id="channelJoin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Channel Join
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="channelJoin-form">
                    <div class="row admin-info-group">

                        <div class="col-sm">
                            <p class="admin-info-text">User ID</p>
                            <input id="userId" type="text" placeholder="Enter the userId" required />
                        </div>
                        <div class="col-sm">
                            <p class="admin-info-text">User Password</p>
                            <input id="userPassword" type="text" placeholder="Enter the Password" />
                        </div>

                        <div class="col-sm" style="margin-top: 10px;">
                            <p class="channel-info-text">Channel Name</p>
                            <input type="text" placeholder="Enter the Channel Name" />
                        </div>
                        <div class="col-sm" style="margin-top: 10px;">
                            <p class="channel-info-text">Channel Password</p>
                            <input type="text" placeholder="Enter the Channel Password" />
                        </div>
                    </div>
                    <br><br>
                    <div class="button-group">
                        <button id="join" type="submit" class="btn btn-primary btn-sm">
                            Join
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>