<div class="modal fade" id="channelPrivateJoin" tabindex="-1" aria-labelledby="channelPrivateJoinModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="content-container modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <h4 class="channel-content-title fw-bold mb-0">Welcome to the world</h4>
                <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0 content-body-container">

                <div class="col-sm" hidden="true">
                    <input id="private-channelName" type="hidden" />
                    <input id="private-passwordChecking" type="hidden" />
                    <input id="private-channelType" type="hidden" />
                    <input id="private-governType" type="hidden" />
                </div>

                <div class="input-label-container">
                    <label class="content-label mb-3" for="private-nickName">Name</label>
                    <label class="content-label mb-3" for="private-roomPassword">Password</label>
                </div>

                <div class="private-input-container">
                    <div class="form-floating mb-3">
                        <input type="text" class="input-form form-control rounded-3" id="private-nickName"
                            placeholder="English & Numbers">
                        <label class="join-label-font" for="floatingInput">English & Numbers</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="input-form form-control rounded-3" id="private-roomPassword"
                            placeholder="Enter world password">
                        <label class="join-label-font" for="floatingPassword">Enter world password</label>
                    </div>
                </div>
            </div>

            <section class="governor-section p-5 pt-0">
                <!-- <div class="select-governor-toggle">
                    <label class="content-label" for="">Governor</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input private-governor-toggle" type="checkbox" role="switch"
                            value="off">
                    </div>
                </div> -->

                <div class="select-governor-toggle">
                    <label class="content-label" for="">Participant</label>
                    <div class="form-check">
                        <input class="form-check-input private-participant-toggle" type="checkbox" value="off" checked>
                    </div>

                    <label class="content-label" for="">Governor</label>
                    <div class="form-check">
                        <input class="form-check-input private-governor-toggle" type="checkbox" value="off">
                    </div>
                </div>

                <hr>

                <div class="input-container" id="privateJoin-password-container" hidden="true">
                    <div class="input-label-container">
                        <label class="content-label mb-3" for="">Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="input-form form-control rounded-3" id="private-password">
                        <label class="label-font" for="private-password">Please enter your password.
                        </label>
                    </div>
                </div>
            </section>

            <div class="modal-footer pt-3 content-footer-container">
                <div class="logo-container">
                    <img src="mainpage/logo.png" alt="">
                </div>
                <div class="join-container">
                    <button id="private-channelJoin-btn" class="btn">Join</button>
                </div>
            </div>
        </div>
    </div>
</div>