<div class="modal fade" id="channelJoin" tabindex="-1" aria-labelledby="channelJoinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="channelJoinModalLabel">
                    Join Your Channel
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="channelJoin-Container">

                    <div class="col-sm choose-container">
                        <p class="choose-info-title">Choose a Channel type</p>
                        <div class="choose-wrapper">
                            <div class="choose-innner-wrapper">
                                <input type="radio" name="channel" checked>
                                <p>Public Channel</p>
                            </div>
                            <div class="choose-innner-wrapper">
                                <input type="radio" name="channel">
                                <p>Private Channel</p>
                            </div>
                        </div>
                    </div>

                    <div class="row admin-info-group">
                        <div class="col-sm">
                            <p class="channel-info-name">Channel Name</p>
                            <input id="channelJoin-channelName" type="text" placeholder="Enter a Channel Name" required>
                        </div>

                        <div class="col-sm">
                            <p class="channel-info-password">Channel Password</p>
                            <input id="channelJoin-channelPassword" type="password" placeholder="Enter a Channel Password"
                                required>
                        </div>

                        <div class="col-sm">
                            <p class="channel-info-username">Username</p>
                            <input id="channelJoin-username" type="text" placeholder="Enter the Username" required>
                        </div>

                        <div class="col-sm">
                            <p class="channel-info-adminPassword">Admin Password</p>
                            <input id="channelJoin-adminPassword" type="password" placeholder="Enter a Admin Password"
                                disabled>
                        </div>
                    </div>
                    <br><br>

                    <div class="col-sm choose-container">
                        <p class="choose-info-title">Choose a Your Role</p>
                        <div class="choose-wrapper">
                            <div class="choose-innner-wrapper">
                                <input type="radio" name="join_userType" value="USER" checked>
                                <p>User</p>
                            </div>
                            <div class="choose-innner-wrapper">
                                <input type="radio" name="join_userType" value="ADMIN">
                                <p>Admin</p>
                            </div>
                        </div>
                    </div>

                    <div class="button-group">
                        <button id="channelJoin-btn" class="btn btn-primary btn-sm">
                            Join
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>