<div class="delivery_container" id="delivery_container">
    <a href="javascript:openWindowPop('https://owakeproxy.ga/api/v1/fileTransfer', 'popup')">File
        Transfer</a>
</div>

<script>
    function openWindowPop(url, name) {
        let options = 'top=10, left=10, width=500, height=600, status=no, menubar=no, toolbar=no, resizable=no location=no';
        window.open(url, name, options);
    }
</script>