#audioMixModal {
    top: 10rem;
}

.audioMix-container {
    max-height: 600px;
    max-width: 600px;
    padding: 4rem;
    background: #292933;

    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.title {
    color: #fff;
    font-size: 2.1rem;
    font-weight: 600;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.local-file {
    color: #fff;
    background-color: #50a6c7;
    border: none;
}

.form-control::placeholder {
    color: #fff;
}

.audioMix-button {
    display: flex;
    justify-content: space-between;
}

.audioMix-button input {
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.audio-time span {
    color: #fff;
}

.audio-volume-bar label {
    color: #fff;
}

.play-button {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 1.5rem;
}

.audio-play {
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #2c3e50;
    transform: translate(10px, 5px);
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    left: 2px;
    cursor: pointer;
}

.audio-play:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -23px;
    bottom: -15px;
    right: -7px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    z-index: 2;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    box-sizing: content-box;
}

.audio-play:after {
    box-sizing: content-box;
    content: "";
    opacity: 0;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
}

.audio-play:hover:before {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.audio-play.active {
    border-color: transparent;
}
.audio-play.active:after {
    content: "";
    opacity: 1;
    width: 10px;
    height: 16px;
    background: #2c3e50;
    position: absolute;
    right: 1px;
    top: -8px;
    border-left: 4px solid #2c3e50;
    box-shadow: inset 6px 0 0 0 #f9f9f9;
}

.audio-bar {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.audio-time {
    display: inline-block;
    vertical-align: middle;
}

#local-audio-mixing {
    margin-right: 0.5rem;
}

.audio-controls {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.audio-time {
    margin-left: 0.5rem;
}
