.main__right {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    background-color: #242f41;
}

.main__chat_window {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    overflow-y: scroll;
}

.main__chat_window::-webkit-scrollbar {
    display: none;
}

.main__message_container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__message_container > input {
    height: 50px;
    flex: 1;
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 20px;
    border: none;
}

.messages {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1.5rem;
    padding: 10px;
    border: 1px solid antiquewhite;
    overflow-y: scroll;
}

.messages::-webkit-scrollbar {
    display: none;
}

.message {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: antiquewhite;
}

#showChat {
    display: none;
}

#remote__message__container {
    margin-left: auto;
}

@media (max-width: 768px) {
    .main__right {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 400px;
        background: none;
        margin-bottom: 80px;
    }

    .messages {
        border: none;
    }

    #showChat {
        display: flex;
    }

    .main__right {
        margin-bottom: 0;
        width: 80%;
        /* margin-left: 30px; */
        z-index: 20;
    }
}

@media (min-width: 768px) {
    .main__right {
        display: flex !important;
        flex: 0.3 !important;
    }

    #showChat {
        display: none;
    }
}
