:root {
    --area-color: #888888;
    --tab-color: #fff;
    --tab-hover: #282832;
}

#contentShareArea {
    position: absolute;
    background: var(--area-color);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9;
}

#contentShare-main {
    position: absolute;
    width: 100%;
    height: 92%;
    border: none;
    left: 0;
    bottom: auto;
}

#contentNavContainer {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 5;
}

.contentTab {
    display: flex;
    align-items: center;
    height: 2rem;
    background: var(--area-color);
    border-radius: 8px;
}

.middleContainerBtn span {
    color: var(--tab-color);
}

.closeContent {
    margin-right: 10px;
}

#contentSearchContainer {
    display: flex;
    justify-content: center;
}

#contentSearchInput {
    margin: 5px;
    border: 2px solid;
    border-radius: 5px;
}

#contentTabArea {
    -ms-overflow-style: none;
}
#contentTabArea::-webkit-scrollbar {
    display: none;
}
