/* #videoIcon {
    width: inherit;
    height: inherit;
    background-image: url("../../../16h/cam.png");
    background-repeat: no-repeat;
    background-position: center;
}

#audioIcon {
    width: inherit;
    height: inherit;
    background-image: url("../../../16h/mic.png");
    background-repeat: no-repeat;
    background-position: center;
}

#chatIcon {
    width: inherit;
    height: inherit;
    background-image: url("../../../16h/chat.png");
    background-repeat: no-repeat;
    background-position: center;
}

#usersIcon {
    width: inherit;
    height: inherit;
    background-image: url("../../../16h/users.png");
    background-repeat: no-repeat;
    background-position: center;
} */

#nav__btn {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background-image: url("../../../32h/navbtn.png");
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    background-image: url("../../../32h/navbtn.png");
}

.logo > h3 {
    color: var(--main-light);
}

.img__logo {
    width: 80%;
}
