@import url("https://unpkg.com/swiper/swiper-bundle.min.css");

:root {
    /* --main-darklg: #1d2635; */
    --main-darklg: #282833;
    --main-dark: #161d29;
    --primary-color: #2f80ec;
    --main-light: #eeeeee;
    --button-color-Cobalt-Blue: #3b5682;
    /* --main-color: #282833; */
}

.options {
    position: relative;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-areas: "logo options logout";
    background-color: var(--main-darklg);
    height: calc(var(--vh, 1vh) * 9);
}

/* .options__left {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.options__right {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.options__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: var(--button-color-Cobalt-Blue); */
    /* height: 50px; */
    /* width: 25px; */
    width: 2.6rem;
    border-radius: 5px;
    color: var(--main-light);
    font-size: 1.23rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.optionsBtnImg {
    max-height: 1.23rem;
    min-height: 1.23rem;
}

.options__button > i {
    color: #fff;
}

.options__button span {
    font-size: small;
    color: #fff;
    text-shadow: 1px 1px 2px #325967;
}

.options__button:hover {
    /* color: rgb(165, 199, 236); */
    box-shadow: 5px 3px 3px black;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    justify-content: center;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.main__options {
    display: flex;
}

.sub__options {
    display: flex;
}

.top__nav__container {
    display: none;
}

.desktop-options {
    display: flex;
}

.logo-container {
    grid-area: logo;
}

.default__options {
    grid-area: options;
}

.options__right {
    grid-area: logout;
}

.options__number {
    margin-right: auto;
    font-size: xx-small !important;
}

@media (min-width: 1280px) {
    .main__options {
        justify-content: flex-end;
    }

    .sub__options {
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .options {
        grid-template-areas: "logout options";
    }

    .swiper-wrapper {
        justify-content: normal;
    }
}
