/* #downBtn {
    position: fixed;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    z-index: 31;
    cursor: pointer;
}

#downBtn:hover {
    color : #000;
}

#upBtn {
    position: fixed;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    z-index: 31;
    cursor: pointer;
}

#upBtn:hover {
    color : #000;
} */