#downBtn {
    position: fixed;
    color: #fff;
    top: 220px;
    margin-left: 10px;
    z-index: 31;
}

#upBtn {
    position: fixed;
    color: #fff;
    top: 220px;
    margin-left: 10px;
    z-index: 31;
}