#speechTextBox {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100% !important;
    height: 5rem;
    bottom: 0;
    overflow : auto;
}

#speechTextBox .card-body {
    display : flex;
    justify-content : space-between;   
    align-items : center;
}

#speechTextBox .card-body > p {
    margin-bottom : 0;
    flex : 0.5;
}

#speechTextBox .speech-micBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#speechTextBox .speech-micBtn > i {
    font-size : 1.5rem;
}

#speechTextBox .card-options {
    display: flex;
    margin-right: 10px;
}

#speechTextBox .card-options select{ 
    margin-right : 5px;
    margin-left : 5px;
}

